body { 
  background-color: lightgrey; 
}

.container { 
  background-color: white; 
  padding: 20px; 
  width: 1850px;
  float: left;
}
h2 {text-align: center;}

svg {border: 1px solid black;}

.room {
  fill: none;
  stroke: deepskyblue;
  stroke-width: 4;  
}

.sensor {
  fill:#b8ffec;
  font-size: 26px;
  stroke:rgb(0,0,0);
}


. {
    fill:#ff0000;
  }
